/* Custom CSS Classes */

/* Header styles */
.navbar.navbar-inverse{
   font-family: Open sans, Helvetica, sans-serif; 
   background: linear-gradient(141deg, #1b5b87 5%, rgb(38, 127, 130) 75%);
}
.navbar-inverse .navbar-brand {
  color: rgb(255, 255, 255);
}
.navbar-inverse .navbar-brand:hover {
  color: #48b48a;
}

.navbar-inverse .navbar-nav > li > a {
  color: rgb(255, 255, 255);
}
.navbar-inverse .navbar-nav > li > a:hover {
  color: #48b48a;
}

/* Bagdes */
.panel-default>.panel-heading .badge,
    div.window-form-toolbar .badge {
    color: #ecf0f1;
    background-color: #48b48a;
}


/* Show borders */
html[theme="default"] textarea,
html[theme="default"] textarea.form-control,
html[theme="default"] input.form-control,
html[theme="default"] input[type=text],
html[theme="default"] input[type=password],
html[theme="default"] input[type=email],
html[theme="default"] input[type=number],
html[theme="default"] [type=text].form-control,
html[theme="default"] [type=password].form-control,
html[theme="default"] [type=email].form-control,
html[theme="default"] [type=tel].form-control,
html[theme="default"] [contenteditable].form-control {
  border: 1px solid #dce4ec;
}
